FULL_STACK/JavaScript/mongodb-node/package.json
FULL_STACK/JavaScript/mongodb-node/package-lock.json
FULL_STACK/.vscode
FULL_STACK/JavaScript/mongodb-node/node_modules
FULL_STACK/JavaScript/React/test-app/node_modules
FULL_STACK/JavaScript/React/test-app/package-lock.json
FULL_STACK/JavaScript/React/test-app/package.json