@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size:26px;
    transition: all ease-in-out 0.3s;
    font-weight: 600;
}
body{
    background-color: #eee;
}

.parent-container{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px 3px #00000029;

}
.output-screen{
    width: 280px;
    padding: 50px 10px;
    text-align: right;
    color: #4285F4;
    background: #ffffff;
}
.calc-btns{
    border: none;
    padding: 15px 5px;
    width: 75px;
    box-sizing: border-box;
}
.calc-btns:hover{
    color:#4285F4;
}
.calc-btns:focus{
    border: 1px solid #4285F4;
}
.calc-body{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.bg-white{
    background-color: white !important;
}
.bg-blue{
    background-color:#4285F4;
    color: white !important;
}